# Core ML & NLP
torch
transformers
datasets
scikit-learn
numpy
pandas

# NLP preprocessing
nltk
spacy

# Backend API
flask
flask-cors
python-dotenv
requests

# Evaluation
evaluate
tqdm

# Visualization
matplotlib